{% extends "base.html" %} {% set active_page = "index" %}
{% block extrahead %}
  <style>
    .navbar {
      opacity: 0.8;
    }
    body {
      margin-top: 0px;
    }
    .jumbotron {
      padding-top: 96px;
      padding-bottom: 0px;
    }
    .cloudy-background {
      background: url('{{ SITEURL }}/theme/img/bg/fogbow-bg-low-opacity.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar-brand {
      visibility: hidden;
    }
  </style>
{% endblock %}
{% block jumbo %}
  <div class="jumbotron cloudy-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <p><img src="{{ SITEURL }}/theme/img/logos/fogbow-logo-fundo-preto.png" style="width: 250px; height: 250px;"></p>
        </div>
        <div class="col-lg-7" style="height: 250px; display: flex; align-items: center;">
          <h2 style="">federation, opportunism and greenness in private infrastructure-as-a-service clouds through the bartering of wares</h2>
        </div>
      </div>
    </div>   
  </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <center>
        <img src="{{ SITEURL }}/theme/img/logos/federation-stars.png" style="width: 75px; height: 75px;">
        <h2>Federation</h2>
        <p>Aggregate resources from multiple and heterogeneous infrastructure-as-a-service private clouds.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-rendezvous" class="btn btn-primary btn-sm">federation@github</a>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <center>
        <i class="fa fa-5x fa-desktop" style="color:#2d2842"></i>
        <h2>Opportunism</h2>
        <p>Deploy an infrastructure-as-a-service private cloud on top of shared commodity hardware in an opportunistic fashion.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-opportunism" class="btn btn-primary btn-sm">opportunism@github</a>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <center>
        <i class="fa fa-5x fa-leaf" style="color:#2d2842"></i>
        <h2>Greenness</h2>
        <p>Save energy by consolidating applications in active hosts and by shutting down the idle ones.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-green-sitter" class="btn btn-primary btn-sm">greeness@github</a>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <center>
        <i class="fa fa-5x fa-exchange" style="color:#2d2842"></i>
        <h2>Bartering<br>Of Wares</h2>
        <p>Trade excess resources, increasing utilization when local demand is low, and better serving your users when local demand is high.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-manager" class="btn btn-primary btn-sm">bartering@github</a>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
