{% extends "base.html" %} {% set active_page = "index" %}
{% block jumbo %}
  <div class="jumbotron cloudy-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>fogbow</h1>
          <h2>federation, opportunism and greenness in<br>private infrastructure-as-a-service clouds,<br>through the bartering of wares</h2>
          <br>
          <a target="_blank" href="https://github.com/fogbow/" class="btn btn-danger btn-lg">Learn more</a>
        </div>
      </div>
    </div>   
  </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <h1>Federation</h1>
        <p>Aggregate resources from multiple and heterogeneous private clouds.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-rendezvous" class="btn btn-primary btn-sm">rendezvous</a>
        <a target="_blank" href="https://github.com/fogbow/fogbow-manager" class="btn btn-primary btn-sm">manager</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <h1>Opportunism</h1>
        <p>Deploy a private cloud on top of shared commodity hardware in an opportunistic fashion.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-opportunism" class="btn btn-primary btn-sm">opportunism@github</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <h1>Greenness</h1>
        <p>Save energy by consolidating applications in active hosts and by shutting down the idle ones.</p>
        <a target="_blank" href="https://github.com/fogbow/fogbow-green" class="btn btn-primary btn-sm">green@github</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="well well-lg">
        <h1>Bartering Of Wares</h1>
        <p>Trade excess resources in your cloud, increasing its utilization when local demand is low, and better serving your users when local demand is high.</p>
        <a target="_blank" href="https://fogbowcloud.org" class="btn btn-primary btn-sm">Learn more</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
